//breakpoints
$grid-breakpoints: (
        xs: 0,
        xm: 425px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1800px,
        xxxlI: 2100px,
        xxxxl: 2400px
);

//colors
$background-color: #FFFBF6;
$brand-color: #E44200;