.parralex_IMG_container{
width: 100%;
height: 100%;
position: absolute;
z-index: -5;
overflow: hidden;
}
.parralex_IMG{
  width: 100%;
  height: auto;
  position: relative;
}
.headline_IMG{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -12%;
  top: 32%;
  @include media-breakpoint-up(sm){
  right: -20%;
  top: 28%;
  }
  @include media-breakpoint-up(md){
  right: -14%;
  top: 30%;
  }
  @include media-breakpoint-up(lg){
    right: 0%;
    top: 22%;
  }
  @include media-breakpoint-up(xl){
    right: -16%;
    top: 20%;
  }
  @include media-breakpoint-up(xxl){
    right: -16%;
    top: 20%;
  }
  @include media-breakpoint-up(xxxl){
    right: -14%;
    top: 14%;
  }
  img {
  width: 88px;
  height: auto;
  @include media-breakpoint-up(sm){
    width: 110px;
  }
  @include media-breakpoint-up(lg){
    width: 120px;
  }
  @include media-breakpoint-up(xl){
    width: 160px;
  }
  @include media-breakpoint-up(xxl){
    width: 180px;
  }
  @include media-breakpoint-up(xxxl){
    width: 240px;
  }
  }
  p{
    position: absolute;
    color: white;
    font-size: 32px;
    padding-top: 25px;
    @include media-breakpoint-up(sm){
    padding-top: 0;
    font-size: 44px;
    }
    @include media-breakpoint-up(lg){
      padding-top: 25px;
    }
    @include media-breakpoint-up(xl){
      padding-top: 16px;
      font-size: 64px;
    }
    @include media-breakpoint-up(xxl){
      padding-top: 40px;
      font-size: 80px;
    }
    @include media-breakpoint-up(xxxl){
      padding-top: 64px;
      font-size: 96px;
    }
  }
}



  .scrollVerder_button__parent{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-start;
    margin-left: 0;
    margin-top: -8px;
    //z-index: -2;
    cursor: pointer;
  }
  
  .scrollVerder_button__parent_background{
    position: absolute;
    z-index: -99;
    background-color: white;
    background-image: radial-gradient(black 30%, transparent 11%),
        radial-gradient(black 30%, transparent 11%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
    top: 8px;
    left: -7px;
    height: 78px;
    width: 192px;
    @include media-breakpoint-up(sm){
      height: 84px;
      width: 227px;
    }
    @include media-breakpoint-up(xl){
      height: 128px;
      width: 326px;
    }
    @include media-breakpoint-up(xxxl){
      left: -5px;
      height: 148px;
      width: 390px;
    }
  }
  
  .scrollVerder_button__child{
    background-color: $brand-color;
    border: solid 8px black;
    white-space: nowrap;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all .15s linear .15s;
    width: fit-content;
    height: fit-content;
    transition: all .15s linear .15s;
    &:hover {
        transform: scale(1.1) !important;
    }

    p{
      color: white;
      font-size: 24px;
      padding: 16px;
        @include media-breakpoint-up(sm){
            font-size: 32px;
        }
        @include media-breakpoint-up(xl){
        padding: 32px;
        font-size: 40px;
        }
        @include media-breakpoint-up(xxxl){
            font-size: 56px;
        }
    }
  }
  .scrollVerder_button__child_left{
    border-right: solid 8px black;
  }

  .scrollVerder_button__child_right{
    
    p {
      transform: rotate(90deg);
    }
  }  

.avatar_container {
  position:absolute;
  top: 128px;
  right: -80px;
  overflow: hidden;
  z-index: -99;
  @include media-breakpoint-up(lg){
    position: relative; 
    grid-column: 8/12;
    right: -75px;
    top: -110px;
    overflow: visible;
  }
  @include media-breakpoint-up(xl){
    right: -65px;
    top: -140px;
  }
  @include media-breakpoint-up(xxl){
    right: -145px;
    top: -130px;
  }
  @include media-breakpoint-up(xxxl){
    right: -145px;
    top: -170px;
  }

}
.avatar_IMG {
  width: 255px;
  @include media-breakpoint-up(md){
  width: 300px;  
  }
  @include media-breakpoint-up(lg){
    width: 110%;
  }
  @include media-breakpoint-up(xl){
    width: 120%;
  }
  @include media-breakpoint-up(xxl){
    width: 95%;
  }
}

.overflowHidden{
  overflow: hidden;
  position: relative;
  @include media-breakpoint-up(lg){
    overflow: visible;
  }
  scroll-behavior: smooth;
}

.journalistiek_IMG_container{
  margin: 32px 0 32px 0;
  display: flex;
  grid-column: 1/5;
  @include media-breakpoint-up(xs){
  grid-row: 3;
  }
  @include media-breakpoint-up(sm){
    grid-row: 2;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/6;
    //margin: 0;
  }
  img{
    height: max-content;
    justify-self: center;
    align-self: center;
    width: 100%;
    @include media-breakpoint-up(lg){
      width: 90%;
    }
    @include media-breakpoint-up(xl){
      width: 100%;
    }
    @include media-breakpoint-up(xxxl){
      width: 100%;
    }

  }
}


.ICT_IMG_container{
  display: flex;
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
  grid-column: 5/9;
  }
  @include media-breakpoint-up(lg){
  grid-column: 9/13;
  }
  img{
    width: 100%;
    //height: auto;
    height: max-content;
    justify-self: center;
    align-self: center;
  }
}

.Stage_IMG_container{
  display: flex;
  grid-column: 1/5;
  @include media-breakpoint-up(lg){
    grid-column: 1/6;
  }

  img{
    width: 100%;
    height: max-content;
    justify-self: center;
    align-self: center;
  }
}





.Specs_banner_Title{
  width: 100%;
  border-bottom: 8px solid;
  text-align: center;
}

.Specs_banner_columns_container{
  width: 100%;
  height: fit-content;
  text-align: start;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(sm){
  flex-direction: row;
  }
}

.Specs_banner_columns_collumn{
  width: 100%;
  height: fit-content;
  @include media-breakpoint-up(sm){
    width: 50%;
  }
}

._left{
  border-bottom: solid black 8px;
  @include media-breakpoint-up(sm){
  border-right: solid black 8px;
  border-bottom: none;
  }
}

.Specs_banner_columns_collumn_text{
  padding: 32px;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 40px;

        @include media-breakpoint-up(sm) {
            font-size: 44px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 64px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 80px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 96px;
        }
  }

  span{
    color: $brand-color;
  }

  h2{
    color: $brand-color;
    font-size: 32px;

        @include media-breakpoint-up(sm) {
            font-size: 32px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 40px;
        }
        
        @include media-breakpoint-up(xxl) {
          font-size: 48px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 56px;
        }
  }
  li{
    list-style: none;
    font-size: 24px;
        @include media-breakpoint-up(xl) {
            font-size: 32px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 40px;
        }
  }
  ul{
    line-height: 250%;
  }

  ul li::before {
    content: "•"; 
    color: $brand-color;
    font-weight: bold;
    display: inline-block; 
    width: 0.8em;
    //margin-left: -1em;
    font-size: 1.5em;
    vertical-align: middle;
  }
  
  
}
.Goudpot_IMG_container{
  grid-column: 2/4;
  @include media-breakpoint-up(sm){
    grid-column: 3/7;
  }
  @include media-breakpoint-up(lg){
  grid-column: 5/9;
  } 
  img{
    width: 100%;
    height: auto;
  }
}

// Banners
.Slot_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
  grid-column: 1/9;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/13;
  }
}

.journalistiek_banner {
  margin: 0;
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
  grid-column: 5/9;
  }
  @include media-breakpoint-up(lg){
    grid-column: 7/13;
  }
}

.ICT_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(md){
  grid-column: 1/5;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/7;
  }
}

.Stage_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
  grid-column: 5/9;
  }
  @include media-breakpoint-up(lg){
  grid-column: 7/13;
  }
}

.headline_banner {
  padding-bottom: 128px;
  grid-column: 1/4;
  @include media-breakpoint-up(sm){
  grid-column: 1/7;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/8;
  }
}

.Specs_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
    grid-column: 1/9 ;
    }
  @include media-breakpoint-up(lg){
  grid-column: 4/10 ;
  }
}

.about__background{
  height: 95%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 5% auto;
  background-position: center 180px;
  z-index: 99;
  background-image: url("assets/AboutBG.svg");
  @include media-breakpoint-up(sm){
      background-size: 100% auto;
      //background-image: url("assets/kaartGrijs.png");
      background-image: none;
  }
}

.about__line_headline{
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 30%;
    top: 50%;
  }
  @include media-breakpoint-up(md){
    top: 20%;
  }
  @include media-breakpoint-up(xl){
    top: 30%;
  }
  @include media-breakpoint-up(xxl){
    top: 60%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_journalistiek{
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 70%;
    top: 28%;
  }
  @include media-breakpoint-up(md){
    top: 30%;
  }
  @include media-breakpoint-up(lg){
    left: 85%;
    top: 29%;
  }
  @include media-breakpoint-up(xl){
    left: 85%;
    top: 35%;
  }
  @include media-breakpoint-up(xxl){
    left: 85%;
    top: 35%;
  }
  @include media-breakpoint-up(xxxl){
    left: 82%;
    top: 38%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_ICT{
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 25%;
    top: 45%;
  }
  @include media-breakpoint-up(md){
    left: 30%;
    top: 45%;
  }
  @include media-breakpoint-up(lg){
    left: 25%;
    top: 42%;
  }
  @include media-breakpoint-up(xl){
    left: 25%;
    top: 48%;
  }
  @include media-breakpoint-up(xxl){
    left: 25%;
    top: 45%;
  }
  @include media-breakpoint-up(xxxl){
    left: 25%;
    top: 48%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_Stage{
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 65%;
    top: 60%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_Specs{
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 50%;
    top: 75%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_horizontal_Journalstiek{
  transform: rotate(90deg);
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 50%;
    top: 23%;
  }
  @include media-breakpoint-up(xl){
    left: 35%;
    top: 26%;
  }
  @include media-breakpoint-up(xxl){
    left: 35%;
    top: 26%;
  }
  @include media-breakpoint-up(xxxl){
    left: 35%;
    top: 30%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_horizontal_ICT{
  transform: rotate(90deg);
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 50%;
    top: 38%;
  }
  @include media-breakpoint-up(xl){
    left: 35%;
    top: 26%;
  }
  @include media-breakpoint-up(xxl){
    left: 35%;
    top: 26%;
  }
  @include media-breakpoint-up(xxxl){
    left: 58%;
    top: 44%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}

.about__line_horizontal_stage{
  transform: rotate(90deg);
  position: absolute;
  z-index: -99;
  visibility: hidden;
  display: none;
  @include media-breakpoint-up(sm){
    display: block;
    visibility: visible;
  }
  @include media-breakpoint-up(sm){
    left: 50%;
    top: 53%;
  }
  @include media-breakpoint-up(lg){
    left: 50%;
    top: 51%;
  }
  @include media-breakpoint-up(xl){
    left: 35%;
    top: 57%;
  }
  @include media-breakpoint-up(xxl){
    left: 35%;
    top: 54%;
  }
  @include media-breakpoint-up(xxxl){
    left: 50%;
    top: 57%;
  }
  img{
    width: 80%;
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
}