.headline_IMG{
  position: absolute;
  right: -25%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
  width: 250px;
  height: auto;
  }
  p{
    position: absolute;
    color: white;
    font-size: 80px;
  }
}



  .scrollVerder_button__parent{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-start;
    margin-left: 5px;
    margin-top: -8px;
    //z-index: -2;
  }
  
  .scrollVerder_button__parent_background{
    position: absolute;
    z-index: -99;
    background-color: white;
    background-image: radial-gradient(black 30%, transparent 11%),
        radial-gradient(black 30%, transparent 11%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
    top: 8px;
    left: -4px;
    height: 100%;
    width: 100%;
    @include media-breakpoint-up(xl){
    height: 140%;
    width: 120%;
    }
  }
  
  .scrollVerder_button__child{
    background-color: $brand-color;
    border: solid 8px black;
    white-space: nowrap;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all .15s linear .15s;
    width: fit-content;
    height: fit-content;
    transition: all .15s linear .15s;
    &:hover {
        transform: scale(1.1) !important;
    }

    p{
      color: white;
      font-size: 24px;
      padding: 16px;
        @include media-breakpoint-up(md){
            font-size: 32px;
        }
        @include media-breakpoint-up(xl){
        padding: 32px;
        font-size: 48px;
        }
        @include media-breakpoint-up(xxxl){
            font-size: 56px;
        }
    }
  }
  .scrollVerder_button__child_left{
    border-right: solid 8px black;
  }

  .scrollVerder_button__child_right{
    
    p {
      transform: rotate(90deg);
    }
  }  

.avatar_container {
  position:absolute;
  top: 128px;
  right: -80px;
  overflow: hidden;
  z-index: -99;
  @include media-breakpoint-up(lg){
    position: relative; 
    grid-column: 8/12;
    right: -50px;
    overflow: visible;
  }

}
.avatar_IMG {
  width: 255px;
  @include media-breakpoint-up(lg){
    width: 100%;
  }
}

.overflowHidden{
  overflow: hidden;
  position: relative;
  @include media-breakpoint-up(lg){
    overflow: visible;
  }
}

.journalistiek_IMG_container{
  grid-column: 1/5;

  img{
    width: 100%;
    height: auto;
  }
}


.ICT_IMG_container{
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
  grid-column: 5/9;
  }
  @include media-breakpoint-up(lg){
  grid-column: 9/13;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.Stage_IMG_container{
  grid-column: 1/5;

  img{
    width: 100%;
    height: auto;
  }
}





.Specs_banner_Title{
  width: 100%;
  border-bottom: 8px solid;
  text-align: center;
}

.Specs_banner_columns_container{
  width: 100%;
  height: fit-content;
  text-align: start;
  display: flex;
  flex-direction: row;
}

.Specs_banner_columns_collumn{
  width: 50%;
  height: fit-content;
}

._left{
  border-right: solid black 8px;
}

.Specs_banner_columns_collumn_text{
  padding: 32px;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 64px;
  }

  span{
    color: $brand-color;
  }

  h2{
    font-size: 56px;
    color: $brand-color;
  }
  li{
    font-size: 32px;
    list-style: none;
  }
  ul{
    line-height: 250%;
  }

  ul li::before {
    content: "•"; 
    color: $brand-color;
    font-weight: bold;
    display: inline-block; 
    width: 0.8em;
    //margin-left: -1em;
    font-size: 1.5em;
    vertical-align: middle;
  }
  
  
}
.Goudpot_IMG_container{
  grid-column: 1/5;
  @include media-breakpoint-up(lg){
    grid-column: 2/8;
  }
  @include media-breakpoint-up(lg){
  grid-column: 5/9;
  } 
  img{
    width: 100%;
    height: auto;
  }
}

// Banners
.Slot_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(md){
  grid-column: 1/9;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/13;
  }
}

.journalistiek_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(md){
  grid-column: 5/8;
  }
  @include media-breakpoint-up(lg){
    grid-column: 7/13;
  }
}

.ICT_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(md){
  grid-column: 1/5;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/7;
  }
}

.Stage_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(md){
  grid-column: 5/9;
  }
  @include media-breakpoint-up(lg){
  grid-column: 7/13;
  }
}

.headline_banner {
  grid-column: 1/4;
  @include media-breakpoint-up(md){
  grid-column: 1/7;
  }
  @include media-breakpoint-up(lg){
    grid-column: 1/8;
  }
}

.Specs_banner {
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
    grid-column: 1/9 ;
    }
  @include media-breakpoint-up(lg){
  grid-column: 4/10 ;
  }
}

.about__background{
  height: fit-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 5% auto;
  background-position: center 50px;
  z-index: 99;
  background-image: url("assets/PortfolioLijnMobile.svg");
  @include media-breakpoint-up(md){
      background-size: 100% auto;
      background-image: url("assets/OverBG.png");
  }
}