.Contact_avatar_IMG{
  position: absolute;
  z-index: -5;
  bottom: 0;
  width: 268px;
  left: -64px;
  @include media-breakpoint-up(sm){
  
  }
  
}

.Contact_phone_IMG_container{
    grid-column: 8/13;
    position: relative;
    height: fit-content;
}

.Contact_phone_IMG{
    width: 100%;
	  position: relative;
    display: grid;
    align-self: flex-end;
    left: 0;
    visibility: hidden;
    display: none;
    @include media-breakpoint-up(sm){
        display: block;
        visibility: visible;
        left: 35%;
    }
    grid-column: 5/9;
    @include media-breakpoint-up(lg){
      grid-column: 8/13;
    }

  }