.Contact_avatar_IMG{
  position: absolute;
  z-index: -5;
  bottom: 0;
  width: 268px;
  left: -64px;
  @include media-breakpoint-up(sm){
    left: -90px;
  }
  @include media-breakpoint-up(md){
    left: -30px;
  }
  @include media-breakpoint-up(lg){
    left: -80px;
  }
  @include media-breakpoint-up(lg){
    left: -60px;
    width: 290px;
  }
  @include media-breakpoint-up(xxl){
    left: -40px;
  }
  
}

.Contact_phone_IMG{
  
	  position: relative;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-self: end;
    left: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
    width: 100%;
    @include media-breakpoint-up(sm){
        display: block;
        visibility: visible;
        right: 0;
    }
    @include media-breakpoint-up(md){
      left: 32%;
      width: 135%;
    }
    @include media-breakpoint-up(lg){
      left: 6%;
      width: 100%;
    }
    @include media-breakpoint-up(xl){
      left: 10%;
    }
    @include media-breakpoint-up(xxl){
      left: 10%;
    }
    @include media-breakpoint-up(xs){
    grid-column: 5/9;
    }
    @include media-breakpoint-up(sm){
      grid-column: 6/9;
      }
    @include media-breakpoint-up(lg){
      grid-column: 8/13;
    }
    
    

  }