.Banner_container {
    width: 100%;
    height: fit-content;
    position: relative;
    justify-items: end;
    display: grid;
    grid-auto-columns: auto;
  }

  .Banner_container_background_shadow {
    position: absolute;
    z-index: -5;
    background-image: url("assets/BGSchaduw.png");
    object-fit: cover;
    height: 95%;
    width: 98%;
    left: 0;
    bottom: 0px;
}

.Banner_container_background_outline{
    border: 8px solid;
    height: 98%;
    width: 99%;
    background-color: white;
    display: flex;
    flex-direction: column;
} 


.Banner__text{
    display: flex;
    flex-direction: column;
    padding: 32px;
    h2{
        font-size: 48px;
    }
    h3{
      font-size: 40px;
    }

    .accent{
        color: $brand-color;
    }

    h1{
        font-size: 80px;
    }
    span{
      color: $brand-color;
    }
}

.Banner_container_background_bar{
    align-self: start;
    width: 100%;
    height: 48px;
    border-bottom: 8px solid;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
  
  
.Banner_container_background_bar_dot{
    width: 16px;
    height: 16px;
    background: $brand-color;
    border-radius: 50%;
    margin: 0 4px
  }