// Banner BEGIN
.ContactBanner_container {
    width: 100%;
    height: fit-content;
    position: relative;
    justify-items: end;
    display: grid;
    grid-auto-columns: auto;
    padding-bottom: 64px;
}

.ContactBanner_container_background_shadow {
    position: absolute;
    z-index: -5;
    background-color: white;
    background-image: radial-gradient(black 30%, transparent 11%),
        radial-gradient(black 30%, transparent 11%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    top: 8px;
    right: 16px;
}

.ContactBanner_container_background_shadow_buttonRow {
    position: absolute;
    z-index: -5;
    background-color: white;
    background-image: radial-gradient(black 30%, transparent 11%),
        radial-gradient(black 30%, transparent 11%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
    height: 100%;
    width: 98%;
    top: 8px;
    right: 16px;
}

.ContactBanner_container_background_outline {
    border: 8px solid;
    height: 100%;
    width: 99%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ContactBanner_container_outerTriangle {
    content: '';
    position: absolute;
    left: -55px;
    top: 60px;
    width: 0;
    height: 0;
    border: 55px solid transparent;
    border-right-color: black;
    //background-color: white;
    border-left: 0;
    border-top: 0;
    //margin-top: -10px;
    //margin-left: -20px;
}

.ContactBanner_container_innerTriangle {
    content: '';
    position: absolute;
    left: 38px;
    top: 17px;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right-color: white;
    //background-color: white;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}
.ContactBanner_container_Triangle_shadow {
    position: absolute;
    z-index: -5;
    background-color: white;
    background-image: radial-gradient(black 30%, transparent 11%),
        radial-gradient(black 30%, transparent 11%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
    height: 70px;
    width: 60px;
    top: 8px;
    left: 0px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: rotate(180deg);
}

.absolute {
    position: absolute;
    top: 50%;
}


.ContactBanner__text {
    display: flex;
    flex-direction: column;
    padding: 16px;
    @include media-breakpoint-up(sm){
        padding: 32px;
    }

    h2 {
        color: $brand-color;
        font-size: 32px;
        @include media-breakpoint-up(lg){
            font-size: 56px;
        }
    }

    p {
        font-size: 24px;
        @include media-breakpoint-up(lg){
            font-size: 40px;
        }
    }
}



.ContactBanner_banner {
    @include media-breakpoint-up(xs){
    grid-column: 2/5;
    }
    @include media-breakpoint-up(sm){
        grid-column: 2/6;
    }
    @include media-breakpoint-up(lg){
    grid-column: 2/7;
    }
}

.ContactBanner_bottomBar_container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: flex-start;
    margin-left: 5px;
    margin-top: -8px;
    
}

.ContactBanner_bottomBar {
    display: flex;
    flex-direction: column;
    border: solid 8px black;
    border-right: solid 4px black;
    border-left: solid 4px black;
    background: white;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(xs){
    width: 56px;
    height: 56px;
    }
    @include media-breakpoint-up(sm){
        width: 70px;
        height: 70px;
    }
    @include media-breakpoint-up(md){
        width: 74px;
        height: 74px;
    }
    @include media-breakpoint-up(lg){
        width: 100px;
        height: 100px;
    }
    ._icon{
        width: 24px;
        @include media-breakpoint-up(sm){
            width: 33px;
        }
    }
    transition: all .15s linear .15s;
    &:hover {
        transform: scale(1.1);
    }
}
._FBIcon{
    width: 16px;
}
._right{
    border-right: solid 8px black !important;
}

._Icon_left{
    border-left: solid 8px black !important;
}

.ContactBanner_bottomBar_alignDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

// Banner EINDE