.CVCrtIMG_container{
    position: relative;
    padding-top: 64px;
    grid-column: 1/5;
    width: 100%;
    //align-items: center;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    @include media-breakpoint-up(sm) {
        grid-column: 2/8;
    }

    @include media-breakpoint-up(md) {
        grid-column: 1/9;
        
        
    }

    @include media-breakpoint-up(lg) {
        grid-column: 7/13;
        justify-content: flex-end;
        padding-top: 0;
    }

    @include media-breakpoint-up(xl) {
        grid-column: 7/13;
        
    }

    @include media-breakpoint-up(xxl) {}

    @include media-breakpoint-up(xxxl) {}
    
    height: fit-content;
}

.Vueper_container{
    //padding-top: 64px;
    width: 100%;
    background-image: url('assets/CRTOutline.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    margin-top: 64px;
    grid-column: 1/5;
    @include media-breakpoint-up(sm) {
        grid-column: 1/9;
        background-size: 100% 100%;
    }

    @include media-breakpoint-up(lg) {
        grid-column: 2/12;
    }
}

.Veuper_outline{
    width: 100%;
    //margin: 64px;
    align-self: center;
    justify-self: center;
    margin-bottom: 64px;
    padding: 72px 28px 48px 28px;

    @include media-breakpoint-up(sm) {
        padding: 64px 50px 72px 50px;
    }
    @include media-breakpoint-up(md) {
        padding: 70px 55px 82px 55px;
    }
    @include media-breakpoint-up(lg) {
    padding: 88px 66px 124px 66px;
    }
    @include media-breakpoint-up(xl) {
        padding: 100px 76px 160px 76px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 124px 94px 198px 99px;
    }
    @include media-breakpoint-up(xxxl) {
        padding: 150px 116px 262px 120px;
    }
}

.vueper_absolute{
    position: absolute;
}

.width_test{
    height: 600px;
}

.CVCrtIMG_container_fullWidth{
    position: relative;
    padding-top: 64px;
    padding-bottom: 128px;
    grid-column: 1/5;
    @include media-breakpoint-up(sm) {
        grid-column: 1/9;
    }

    @include media-breakpoint-up(lg) {
        grid-column: 2/12;
    }
}

.CVCrtIMG_banner{
    //width: 80%;
    height: fit-content;
    position: absolute;
    width: 243px;
    height: 239px;
    @include media-breakpoint-up(sm) {
        //width: 80%;
        width: 330px;
        height: 323px;
    }

    @include media-breakpoint-up(md) {
        //width: 80%;
        width: 486px;
        height: 477px;
        
    }
    @include media-breakpoint-up(lg) {
        //width: 80%;
        width: 362px;
        height: 355px;
    }
    @include media-breakpoint-up(xl) {
        //width: 80%;
        width: 426px;
        height: 418px;
    }
    @include media-breakpoint-up(xxl) {
        //width: 80%;
        width: 512px;
        height: 503px;
    }
    @include media-breakpoint-up(xxxl) {
        //width: 80%;
        width: 642px;
        height: 630px;
    }
    
}

.CVCrtIMG_menu_background{
    position: relative;
    z-index: -5;
    height: auto;

    width: 67%;
    padding-top: 30px;
    left: 0%;
    @include media-breakpoint-up(sm) {
        padding-top: 40px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 60px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 45px;
        left: -6%;
    }
    @include media-breakpoint-up(xl) {
    width: 67%;
    height: auto;
    padding-top: 55px;
    
    }
    @include media-breakpoint-up(xxxl) {
        padding-top: 80px;
        
    }
    
}