//Hamburger menu algmeen
.hamburger_container_grid {
  display: grid;
  grid-template-rows: auto;
  align-items: end;
  
  @include media-breakpoint-up(xs){
    grid-template-columns: repeat(4, 70px);
    grid-column-gap: 8px;
  }
  @include media-breakpoint-up(sm){
    grid-template-columns: repeat(8, 62px);
    grid-column-gap: 8px;
  }

  @include media-breakpoint-up(md){
    grid-template-columns: repeat(8, 62px);
    grid-column-gap: 16px;
  }

  @include media-breakpoint-up(lg){
    grid-template-columns: repeat(12, 62px);
    grid-column-gap: 16px;
  }

  @include media-breakpoint-up(xl){
    grid-template-columns: repeat(12, 62px);
    grid-column-gap: 32px;
  }

  @include media-breakpoint-up(xxl){
    grid-template-columns: repeat(12, 80px);
    grid-column-gap: 32px;
  }

  @include media-breakpoint-up(xxxl){
    grid-template-columns: repeat(12, 107px);
    grid-column-gap: 32px;
  }
}

//Hamburger menu gesloten
.hamburger_container_GESLOTEN{
  display: grid;
  width: 96vw;
  height: 15vh;
  justify-content: center;
  position: fixed;
  z-index: 100;
  padding-top: 32px;
  @include media-breakpoint-up(lg){
    padding-top: 64px;
  }

}
.hamburger_container_GESLOTEN__img{
  grid-column: 1/1;
  width: 100%;
  max-height: 100%;
}

.hamburger_button__parent{
  position: relative;
  cursor: pointer;
  padding-left: 16px;
}

.hamburger_button__parent_background{
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: white;
  background-image: radial-gradient(black 30%, transparent 11%),
      radial-gradient(black 30%, transparent 11%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-repeat: repeat;
  @include media-breakpoint-up(xs){
    height: 55px;
    width: 55px;
  }

  @include media-breakpoint-up(sm){
    height: 50px;
    width: 50px;
  }

  @include media-breakpoint-up(xl){
    height: 50px;
    width: 50px;
  }

  @include media-breakpoint-up(xxl){
    height: 60px;
    width: 60px;
  }

  @include media-breakpoint-up(xxxl){
    height: 85px;
    width: 85px;
  }
}

.hamburger_button__child{
  position: absolute;
  z-index: 5;
  bottom: 6px;
  left: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all .15s linear .15s;
  border: solid 6px black;
  &:hover{
    bottom: 0;
    left: 0;
  }

  @include media-breakpoint-up(xs){
    height: 55px;
    width: 55px;
  }

  @include media-breakpoint-up(sm){
    height: 50px;
    width: 50px;
  }

  @include media-breakpoint-up(xl){
    height: 50px;
    width: 50px;
  }

  @include media-breakpoint-up(xxl){
    height: 60px;
    width: 60px;
  }

  @include media-breakpoint-up(xxxl){
    height: 85px;
    width: 85px;
    border: solid 8px black;
  }


// Streepjes in de button
  div{
    width: 80%;
    height: 6px;
    background-color: black;
    @include media-breakpoint-up(xxxl){
      height: 8px;
    }
  }

  div.top {
    margin-top: 3px;
  }

  div.bottom {
    margin-bottom: 3px;
  }
}

//Hamburger menu open
.hamburger_container_OPEN{
  display: grid;
  width: 99vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  z-index: 100;
   
}

.hamburger_nav_container{
  height: 100vh;
  grid-column: 1/5;
  @include media-breakpoint-up(sm){
    grid-column: 3/9;
  }

  @include media-breakpoint-up(lg){
    grid-column: 5/13;
  }
  @include media-breakpoint-up(xxxl){
    grid-column: 4/13;
  }
}  

.hamburger_nav_container__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 5%;
}  

 nav a{
    font-weight: 400;
    text-decoration: none;
    font-size: 104px;
    @include media-breakpoint-up(sm){
      font-size: 112px;
    }
    @include media-breakpoint-up(md){
      font-size: 120px;
    }
    @include media-breakpoint-up(lg){
      font-size: 128px;
    }
    @include media-breakpoint-up(xl){
      font-size: 142px;
    }
  
    @include media-breakpoint-up(xxl){
      font-size: 168px;
    }
    @include media-breakpoint-up(xxxl){
      font-size: 184px;
    }
  }
  
  .router-link-exact-active {
    color: $brand-color;
  }
.hamburger_background_shadow{
  position: absolute;
  z-index: -5;
  background-color: white;
  background-image: radial-gradient(black 30%, transparent 11%),
      radial-gradient(black 30%, transparent 11%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-repeat: repeat;
  height: 94vh;
  left: 8px;
  bottom: 16px;
  width: 92vw;
  @include media-breakpoint-up(sm){
    width: 94vw;
  }
  @include media-breakpoint-up(md){
    width: 94vw;
  }
  @include media-breakpoint-up(lg){
    width: 95vw;
  }
  @include media-breakpoint-up(xl){
    width: 96vw;
  }
  @include media-breakpoint-up(xxxl){
    width: 97vw;
  }
}

.hamburger_background_background{
  position: absolute;
  z-index: -6;
  background-color: $background-color;
  width: 102%;
  height: 100%;
}
.hamburger_background_container {
  position: absolute;
  height: 99vh;
  width: 100%;
  z-index: -2;
  display: grid;
  justify-content: center;
}

.hamburger_background_outline{
  border: 8px solid;
  background-color: $background-color;
  align-self: center;
  display: grid;
  height: 95vh;
  width: 92vw;
  @include media-breakpoint-up(sm){
      font-size: 112px;
      width: 94vw;
    }
    @include media-breakpoint-up(md){
      font-size: 120px;
      width: 95vw;
    }
    @include media-breakpoint-up(lg){
      font-size: 128px;
      width: 96vw;
    }
    @include media-breakpoint-up(xl){
      font-size: 142px;
      width: 97vw;
    }
  
    @include media-breakpoint-up(xxl){
      font-size: 168px;
    }
    @include media-breakpoint-up(xxxl){
      
      font-size: 228px;
    }
}

.hamburger_background_bar{
  align-self: start;
  width: 100%;
  height: 48px;
  border-bottom: 8px solid;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hamburger_background_bar_dot{
  width: 16px;
  height: 16px;
  background: $brand-color;
  border-radius: 50%;
  margin: 0 4px
}

.__right{
  margin-right: 8px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all .15s linear .15s;
  &:hover{
    width: 32px;
    height: 32px;
    .before,
    .after {
      height: 4px;
  }
  }
  //Wegklik kruisje
  .before,
  .after {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background-color: white;
    border-radius: 0;
    top: 45%;
    transition: all .15s linear .15s;
}
.before{
  transform: rotate(-45deg);
}
.after{
  transform: rotate(45deg);
}

}

