//Hamburger menu algmeen
.hamburger_container_grid {
  display: grid;
  grid-template-rows: auto;
  
  @include media-breakpoint-up(xs){
    grid-template-columns: repeat(4, 70px);
    grid-column-gap: 8px;
  }

  @include media-breakpoint-up(sm){
    grid-template-columns: repeat(8, 62px);
    grid-column-gap: 16px;
  }

  @include media-breakpoint-up(xxl){
    grid-template-columns: repeat(12, 64px);
    grid-column-gap: 32px;
  }

  @include media-breakpoint-up(xxxl){
    grid-template-columns: repeat(12, 107px);
    grid-column-gap: 32px;
  }
}

//Hamburger menu gesloten
.hamburger_container_GESLOTEN{
  display: grid;
  width: 99vw;
  height: 100vh;
  justify-content: center;
  position: absolute;
  z-index: 100;
}
.hamburger_container_GESLOTEN__img{
  grid-column: 1/1;
  width: 100%;
  max-height: 100%;
}

.hamburger_button__parent{
  position: relative;
  background-image: url("assets/rectSVG.svg");
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.hamburger_button__child{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  height: 88px;
  width: 88px;
  border: solid 8px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .15s linear .15s;
  &:hover{
    top: 15px;
    right: 15px;
  }

  div{
    width: 55px;
    height: 10px;
    background-color: black;
    margin: 5px 0;
  }

  div.top {
    margin-top: 10px;
  }

  div.bottom {
    margin-bottom: 10px;
  }
}

//Hamburger menu open
.hamburger_container_OPEN{
  display: grid;
  width: 99vw;
  height: 100vh;
  justify-content: center;
  position: absolute;
  z-index: 100;
  display: none;
  
}

.hamburger_nav_container{
  grid-column: 4/12;
  height: 100vh;
}  

.hamburger_nav_container__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 5%;
}  

 nav a{
    font-size: 168px;
    font-weight: 400;
    text-decoration: none;
  }
  
  .router-link-exact-active {
    color: $brand-color;
  }
.hamburger_background_shadow{
  position: absolute;
  z-index: -5;
  background-image: url("assets/BGSchaduw.png");
  object-fit: cover;
  height: 96vh;
  width: 96vw;
  left: 16px;
  bottom: 16px;
}
.hamburger_background_container {
  position: absolute;
  height: 99vh;
  width: 100%;
  z-index: -2;
  display: grid;
  justify-content: center;
}

.hamburger_background_outline{
  border: 8px solid;
  height: 95vh;
  width: 96vw;
  background-color: $background-color;
  align-self: center;
  display: grid;
}

.hamburger_background_bar{
  align-self: start;
  width: 100%;
  height: 48px;
  border-bottom: 8px solid;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hamburger_background_bar_dot{
  width: 16px;
  height: 16px;
  background: $brand-color;
  border-radius: 50%;
  margin: 0 4px
}

.__right{
  margin-right: 8px;
}

