//Hamburger menu algmeen
.hamburger_container_grid {
  display: grid;
  grid-template-rows: auto;
  align-items: end;
  
  @include media-breakpoint-up(xs){
    grid-template-columns: repeat(4, 70px);
    grid-column-gap: 8px;
  }
  @include media-breakpoint-up(sm){
    grid-template-columns: repeat(8, 62px);
    grid-column-gap: 8px;
  }
  
  @include media-breakpoint-up(md){
    grid-template-columns: repeat(8, 62px);
    grid-column-gap: 16px;
  }

  @include media-breakpoint-up(xxl){
    grid-template-columns: repeat(12, 80px);
    grid-column-gap: 32px;
  }

  @include media-breakpoint-up(xxxl){
    grid-template-columns: repeat(12, 107px);
    grid-column-gap: 32px;
  }
}

//Hamburger menu gesloten
.hamburger_container_GESLOTEN{
  display: grid;
  width: 96vw;
  height: 15vh;
  justify-content: center;
  position: absolute;
  z-index: 100;
  padding-top: 32px;
  @include media-breakpoint-up(lg){
    padding-top: 64px;
  }

}
.hamburger_container_GESLOTEN__img{
  grid-column: 1/1;
  width: 100%;
  max-height: 100%;
}

.hamburger_button__parent{
  position: relative;
  cursor: pointer;

}

.hamburger_button__parent_background{
  position: absolute;
  background-image: url("assets/rectSVG.svg");
  object-fit: cover;
  height: 90px;
  width: 90px;
  z-index: 3;
  bottom: 0;
  left: 0;
  @include media-breakpoint-up(xs){
    width: 58px;
    height: 58px;
  }

  @include media-breakpoint-up(sm){
    width: 52px;
    height: 52px;
  }

  @include media-breakpoint-up(xxl){
    width: 67px;
    height: 67px;
  }

  @include media-breakpoint-up(xxxl){
    width: 89px;
    height: 89px;
  }
}

.hamburger_button__child{
  position: absolute;
  z-index: 5;
  bottom: 8px;
  left: 10px;
  background-color: white;
  border: solid 8px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all .15s linear .15s;
  width: 95%;
  &:hover{
    bottom: 0;
    left: 0;
  }

  @include media-breakpoint-up(xs){
    height: 67px;
  }

  @include media-breakpoint-up(sm){
    height: 52px;
  }

  @include media-breakpoint-up(xxl){
    height: 76px;
  }

  @include media-breakpoint-up(xxxl){
    height: 89px;
  }


// Streepjes in de button
  div{
    width: 80%;
    height: 8px;
    background-color: black;
  }

  div.top {
    margin-top: 3px;
  }

  div.bottom {
    margin-bottom: 3px;
  }
}

//Hamburger menu open
.hamburger_container_OPEN{
  display: grid;
  width: 99vw;
  height: 100vh;
  justify-content: center;
  position: absolute;
  z-index: 100;  
}

.hamburger_nav_container{
  grid-column: 4/12;
  height: 100vh;
}  

.hamburger_nav_container__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 5%;
}  

 nav a{
    font-size: 168px;
    font-weight: 400;
    text-decoration: none;
  }
  
  .router-link-exact-active {
    color: $brand-color;
  }
.hamburger_background_shadow{
  position: absolute;
  z-index: -5;
  background-image: url("assets/BGSchaduw.png");
  object-fit: cover;
  height: 96vh;
  width: 96vw;
  left: 16px;
  bottom: 16px;
}
.hamburger_background_container {
  position: absolute;
  height: 99vh;
  width: 100%;
  z-index: -2;
  display: grid;
  justify-content: center;
}

.hamburger_background_outline{
  border: 8px solid;
  height: 95vh;
  width: 96vw;
  background-color: $background-color;
  align-self: center;
  display: grid;
}

.hamburger_background_bar{
  align-self: start;
  width: 100%;
  height: 48px;
  border-bottom: 8px solid;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hamburger_background_bar_dot{
  width: 16px;
  height: 16px;
  background: $brand-color;
  border-radius: 50%;
  margin: 0 4px
}

.__right{
  margin-right: 8px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all .15s linear .15s;
  &:hover{
    width: 32px;
    height: 32px;
    .before,
    .after {
      height: 4px;
  }
  }
  //Wegklik kruisje
  .before,
  .after {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background-color: white;
    border-radius: 0;
    top: 45%;
    transition: all .15s linear .15s;
}
.before{
  transform: rotate(-45deg);
}
.after{
  transform: rotate(45deg);
}

}

