.ProcesVisual_container{
    width: 100%;
    height: fit-content;
    position: relative;
    justify-items: end;
    display: grid;
    grid-auto-columns: auto;
    padding: 64px 0 64px 0 ;
    grid-column: 1/5;
    @include media-breakpoint-up(sm) {
        grid-column: 1/9;
    }

    @include media-breakpoint-up(lg) {
        grid-column: 1/13;
    }
}

.ProcesVisual_line{
    background-image: url("assets/ProcesLineVertical.png");
    @include media-breakpoint-up(sm) {
    background-image: url("assets/ProcesLine.png");
    }

    width: 100%;
    //object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
    flex-direction: row;
    }
    
}

.ProcesVisual_square{
    align-self: center;
    background-image: url("assets/ProcesRectangle.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 225px;
    height: 225px;
    margin-top: 64px;
    @include media-breakpoint-up(sm) {
        
    }

    @include media-breakpoint-up(xl) {
        width: 225px;
    height: 225px;
    }

    @include media-breakpoint-up(xxxl) {
        
    }
    p{
        color: white;
        font-size: 40px;
        margin: 16px;
        //font-size: 32px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 40px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 56px;
        }
    }
}

.ProcesVisual_square_left{
    transform: rotate(-5deg);
}

.ProcesVisual_square_right{
    transform: rotate(5deg);
}